Con los datos de binance se pueden hacer una serie de análisis sobre la evolución del precio de las criptomonedas y del número de transacciones.

crear indicadores como el número medio de transacciones por intervalo de tiempo, el importe medio por transacción, si éstos han cambiado a lo largo del tiempo

Analiza las criptomonedas históricas como btc y eth, y compara sus comportamientos con otras que han "muerto"

Puedes enriquecer este análisis con los datos de la bolsa con yahoofinance yfinance

In [3]:
import requests
import pandas as pd
from datetime import datetime

C:\Users\bvazq\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\bvazq\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
C:\Users\bvazq\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
# Endpoint de la API de Binance para obtener el precio de un par
url = "https://api.binance.com/api/v3/ticker/price"
params = {
    "symbol": "BTCUSDT"  # Par de criptomonedas (Bitcoin / Tether)
}

response = requests.get(url, params=params)
data = response.json()

# Mostrar el precio actual
print(f"El precio de BTC/USDT es: {data['price']}")

El precio de BTC/USDT es: 83332.39000000

Kandle lines: atacamos los datos de manera más histórica, por intervalos...

https://developers.binance.com/docs/binance-spot-api-docs/web-socket-api/market-data-requests#klines

In [7]:
url = 'https://api.binance.com/api/v3/klines'
symbols = ['BTCUSDT', 'ETHUSDT', 'DOGEUSDT', 'NHTUSDT']  # Lista de pares de criptomonedas
interval = '1d'  # Intervalo de tiempo (1 día)
start_date = '2025-01-01'

# Convertir la fecha de inicio en timestamp
start_timestamp = int(datetime.strptime(start_date, "%Y-%m-%d").timestamp()) * 1000  # milisegundos

# Parámetros para la API de Binance
params = {
    'symbol': symbols[0],  # Par de criptomonedas, por ejemplo: BTCUSDT
    'interval': interval,  # Intervalo de tiempo, como "1d" (diario), "1h" (hora), etc.
    'startTime': start_timestamp,  # Fecha de inicio en timestamp
    'limit': 1000  # Límite de resultados por solicitud (máximo 1000)
}

# Realizar la solicitud a la API
response = requests.get(url, params=params)

data = response.json()
df = pd.DataFrame(data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])
df['symbol'] = symbol
df.columns

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time',
       'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume',
       'taker_buy_quote_asset_volume', 'ignore'],
      dtype='object')

In [8]:
df.head()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,1735689600000,93576.00000000,95151.15000000,92888.00000000,94591.79000000,10373.32613000,1735775999999,975444194.13799830,1516556,5347.73648000,502914035.64059070,0
1,1735776000000,94591.78000000,97839.50000000,94392.00000000,96984.79000000,21970.48948000,1735862399999,2118411852.68127950,3569079,10915.96986000,1052226710.33367170,0
2,1735862400000,96984.79000000,98976.91000000,96100.01000000,98174.18000000,15253.82936000,1735948799999,1486610768.59079170,2851164,7468.60797000,727787246.89655880,0
3,1735948800000,98174.17000000,98778.43000000,97514.79000000,98220.50000000,8990.05651000,1736035199999,881223751.63536030,1559982,4350.80221000,426524714.13055390,0
4,1736035200000,98220.51000000,98836.85000000,97276.79000000,98363.61000000,8095.63723000,1736121599999,793931715.95463240,1685799,3877.90985000,380355340.46860360,0