# Ejercicios Medidas de error

Tenemos varios modelos de clasificación creados:

 - calcula las accuracy, precision, potencia y f-score a partir de sus siguientes matrices de confusión

- Con cuál modelo te quedarías y por qué?
- Qué modelo es más conveniente para qué situaciones?


https://www.iartificial.net/precision-recall-f1-accuracy-en-clasificacion/#Resumen

In [ ]:
from tabulate import tabulate
import seaborn as sns

## Modelo 1

In [ ]:
print(tabulate([[100,  29],[ 18,  80]],headers = ['pred 0','pred 1'], showindex = ['real 0','real 1'], tablefmt = 'fancy_grid'))

╒════════╤══════════╤══════════╕
│        │   pred 0 │   pred 1 │
╞════════╪══════════╪══════════╡
│ real 0 │      100 │       29 │
├────────┼──────────┼──────────┤
│ real 1 │       18 │       80 │
╘════════╧══════════╧══════════╛

In [4]:
Accuracy = (100+80)/(100+80+18+29)
Potencia= 
Precision = 
F_score = 

print("Accuracy", Accuracy)
print("Potencia", Potencia)
print("Precision", Precision)
print("F-Score", F_score)

Accuracy 0.7929515418502202
Potencia 0.8163265306122449
Precision 0.7339449541284404
F-Score 0.7729468599033816

## Modelo 2

In [ ]:
print(tabulate([[85,  44],[ 8,  90]],headers = ['pred 0','pred 1'], showindex = ['real 0','real 1'], tablefmt = 'fancy_grid'))

╒════════╤══════════╤══════════╕
│        │   pred 0 │   pred 1 │
╞════════╪══════════╪══════════╡
│ real 0 │       85 │       44 │
├────────┼──────────┼──────────┤
│ real 1 │        8 │       90 │
╘════════╧══════════╧══════════╛

El acc es mayor que antes pero la precision este modelo mejor para

In [ ]:
print("Accuracy", )
print("Potencia", )
print("Precision", )
print("F-Score", )

Accuracy
Potencia
Precision
F-Score

## Modelo 3

In [ ]:
print(tabulate([[120,  9],[ 28,  70]],headers = ['pred 0','pred 1'], showindex = ['real 0','real 1'], tablefmt = 'fancy_grid'))

╒════════╤══════════╤══════════╕
│        │   pred 0 │   pred 1 │
╞════════╪══════════╪══════════╡
│ real 0 │      120 │        9 │
├────────┼──────────┼──────────┤
│ real 1 │       28 │       70 │
╘════════╧══════════╧══════════╛

In [ ]:
print("Accuracy", )
print("Potencia", )
print("Precision", )
print("F-Score", )

Accuracy
Potencia
Precision
F-Score

### CONCLUSIONES SOBRE QUÉ MODELO ES MEJOR

Con qué modelo te quedarías?
Depende de la situación? explica en qué casuísticas eligirías un modelo u otro

# Entrena un modelo

Usando la tabla de datos penguins y solo teniendo en cuenta los pingüinos de las especies Adelie y Gentoo. 

 - Entrena varios modelos y evalúa su calidad de clasificación, quédate solo con el mejor modelo de regresión logística y con el mejor modelo de árbol de decisión

 - Dibuja una matriz de confusión y determina Cuál de las dos técnicas de entrenamiento de modelos te parece más eficiente?

In [2]:
import seaborn as sns
pen = sns.load_dataset('penguins')
pen = pen[pen['species'].isin(['Adelie','Gentoo'])]
pen

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [ ]:
pen.groupby('species')['species'].count()

species
Adelie    152
Gentoo    124
Name: species, dtype: int64

## Con el conjunto de datos Churn

 - Entrena un modelo Random forest
 - Entrena una regresión Logística
 - Balancea las clases de la variable dependiente
 - Entrena de nuevo los modelos anteriores y **compara** las métricas de error , Cuál método es mejor entre Random Forest y Regresión Logísitca?

gender: Cliente masculino o femenino

SeniorCitizen: Es jubilado (1) o no (0)

Partner: Tiene pareja (Yes/No)

Dependents: Tiene dependientes (Yes/No)

tenure: Meses con la compañía

PhoneService: Tiene servicio telefónico (Yes/No)

MultipleLines: Tiene múltiples líneas (Yes/No/No phone service)

InternetService: Proveedor de internet (DSL/Fiber optic/No)

OnlineSecurity: Seguridad online (Yes/No/No internet)

OnlineBackup: Copia de seguridad online (Yes/No/No internet)

DeviceProtection: Protección de dispositivo (Yes/No/No internet)

TechSupport: Soporte técnico (Yes/No/No internet)

StreamingTV: Streaming de TV (Yes/No/No internet)

StreamingMovies: Streaming de películas (Yes/No/No internet)

Contract: Tipo de contrato (Month-to-month/1 year/2 years)

PaperlessBilling: Facturación sin papel (Yes/No)

PaymentMethod: Método de pago (Electronic check, Mailed check, Bank transfer, Credit card)

MonthlyCharges: Cargo mensual

TotalCharges: Cargo total acumulado

Churn: Abandonó el servicio (Yes/No)

In [2]:
import pandas as pd

churn = pd.read_csv('../../../Data/Modelos ML/churn.csv', sep = ',')
churn

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,MonthLevel,TotalLevel,TenureLevel,ChurnBinary
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,Month-to-month,Yes,Electronic check,29.85,29.85,No,Low,Very Low,New,0.0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,One year,No,Mailed check,56.95,1889.50,No,Low,Moderate,Loyal,0.0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Low,Very Low,New,1.0
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,One year,No,Bank transfer (automatic),42.30,1840.75,No,Low,Moderate,Loyal,0.0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Moderate,Very Low,New,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,One year,Yes,Mailed check,84.80,1990.50,No,High,Moderate,Loyal,0.0
7028,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,One year,Yes,Credit card (automatic),103.20,7362.90,No,Very High,Very High,Very Loyal,0.0
7029,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,Month-to-month,Yes,Electronic check,29.60,346.45,No,Low,Low,New,0.0
7030,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,Month-to-month,Yes,Mailed check,74.40,306.60,Yes,Moderate,Low,New,1.0
7031,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No,Very High,Very High,Very Loyal,0.0