# Crear tablas en MySQL desde Python

A continuación vamos a crear tablas "a distancia". Igual que hemos hecho anteriormente con código SQL desde la herramienta de MySQL, vamos a automatizar ese proceso desde python. Puede parecer trivial y repetitivo, pero a futuro nos puede ser útil gestionar las bases de datos desde python, especialmente para el proceso ETL.

`sqlalchemy`es la libreria python que nos va a permitir conectar ambos entornos

In [23]:
# !pip install sqlalchemy
# !pip install sqlalchemy_utils
# !pip install mysql-connector
# !pip install pymysql
# !pip install tqdm

Requirement already satisfied: tqdm in c:\users\bvazq\anaconda3\lib\site-packages (4.64.1)
Requirement already satisfied: colorama in c:\users\bvazq\anaconda3\lib\site-packages (from tqdm) (0.4.5)

Durante el proceso de a continuación vamos a crear una conexión con MySQL usando `create_engine`y el método `create_database()`para crear una base de datos. 

El método `declarative_base` lo vamos a usar para definir unas clases que representan las tablas en la base de datos.

`Session` y `sessionmaker` lo usamos para seleccionar e interactuar con la base de datos que queremos usar (ya que podemos tener varias creadas).

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, Enum, ForeignKey

from sqlalchemy_utils import database_exists, create_database, drop_database

from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker

import pandas as pd
import datetime as datetime

import pymysql
import tqdm

C:\Users\bvazq\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\bvazq\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
C:\Users\bvazq\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## Create Database

Creamos la base de datos

In [2]:
engine = create_engine('mysql+pymysql://root:passwordMSQL@localhost:3306/Stockify')
if not database_exists(engine.url):
    create_database(engine.url)
    
Base = declarative_base()

## Create tables

Creamos (definimos su forma) las tablas

In [3]:
class Company(Base):
    __tablename__ = 'Company'
    company_code = Column(String(120),primary_key=True)
    security = Column(String(120))
    sec = Column(String(120))
    gics_sector = Column(String(120))
    gics_sub_industry = Column(String(120))
    heads_location = Column(String(120))
    start_date = Column(Date)
    cik = Column(String(120))
    founded = Column(String(120))

In [4]:
class Stocks(Base):
    __tablename__ = 'Stocks'
    stock_id = Column(Integer,primary_key=True)
    company_code = Column(String(120),ForeignKey("Company.company_code"))
    date = Column(Date)
    max_price = Column(Float)
    min_price = Column(Float)
    volume = Column(Float)
    close = Column(Float)
    open = Column(Float)

In [5]:
class user(Base):
    __tablename__ = 'User'
    user_id = Column(Integer,primary_key=True)
    user_name=Column(String(20))
    user_city=Column(String(120))

In [6]:
class transactions(Base):
    __tablename__ = 'Transactions'
    trx_id = Column(Integer,primary_key=True)
    user_id = Column(Integer,ForeignKey("User.user_id"))
    company_code = Column(String(120),ForeignKey("Company.company_code"))
    stock_id = Column(Integer,ForeignKey("Stocks.stock_id"))
    units = Column(Integer)

In [7]:
Base.metadata.create_all(engine)

Enhorabuena! ya has creado tu primera base de datos!!

## Populate Database

Seleccionamos la base de datos de nuestro interés (engine).

A continuación cargamos los datos que queremos subir, en este ejemplo vienen en fichero csv, pero podrían venir de otra fuente.

Se crea un objeto llamado **rec** (de la clase-tabla indicada). Contiene todas las filas y columnas que queremos adicionar. `Session.add(rec)` hace esa inserción de información.

Finalmente, hacemos `commit` para confirmar la acción.

In [8]:
Session = sessionmaker(bind=engine)
session = Session()

In [9]:
def populate_table(csv_file,table):

    df = pd.read_csv(csv_file, sep = ';', encoding = 'latin-1')
    df = df.dropna()
    #i=0
    
    for i, val in enumerate(df.values):
        if table == 'Company':
            rec = Company (
                company_code = val[2],
                security = val[3],
                sec = val[4],
                gics_sector = val[5],
                gics_sub_industry = val[6],
                heads_location = val[7],
                start_date = datetime.datetime.strptime(str(val[8]), "%d/%m/%Y").date(),
                cik = val[9],
                founded = val[10]
            )
        
        elif table == 'Stocks':
            rec = Stocks (
                company_code = val[-1],
                date = datetime.datetime.strptime(val[1], "%Y-%m-%d").date(),
                max_price = val[3],
                min_price = val[4],
                volume = val[6],
                close = val[5],
                open = val[2]

            )
        elif table == 'User':
            rec = user (
                user_id = val[0],
                user_name = val[1],
                user_city = val[2]

            )  
        else:
            rec = transactions(
                trx_id = val[0],
                user_id = val[1],
                company_code = val[3],
                stock_id = val[2],
                units = val[4]
                
            )
            
        session.add(rec)
        
    session.commit()

## Insertamos los datos

Ejecutamos tantas veces como informaciones y tablas queramos insertar

In [10]:
populate_table('./company.csv','Company')

In [11]:
populate_table('./stocks.csv','Stocks')

In [12]:
populate_table('./user.csv','User')

In [13]:
populate_table('./transactions.csv','Transactions')